apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-exporter
  namespace: davtrowebdbvault
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-exporter
  template:
    metadata:
      labels:
        app: kafka-exporter
    spec:
      containers:
        - name: kafka-exporter
          image: danielqsj/kafka-exporter:latest
          ports:
            - containerPort: 9308
          env:
            - name: KAFKA_BROKERS
              value: "kafka-0.kafka.davtrowebdbvault.svc.cluster.local:9092"
            - name: LOG_LEVEL
              value: "info"
          command:
            - "/bin/kafka_exporter"
          args:
            - "--kafka.server=kafka-0.kafka.davtrowebdbvault.svc.cluster.local:9092"
            - "--log.level=info"
            - "--web.listen-address=:9308"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
          livenessProbe:
            httpGet:
              path: /metrics
              port: 9308
            initialDelaySeconds: 60
            periodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-exporter
  namespace: davtrowebdbvault
spec:
  ports:
    - port: 9308
      targetPort: 9308
  selector:
    app: kafka-exporter
