apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
  labels:
    app: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgui
    component: kafka
spec:
  serviceName: "kafka"
  replicas: 1
  selector:
    matchLabels:
      app: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgui
      component: kafka
  template:
    metadata:
      labels:
        app: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgui
        component: kafka
    spec:
      containers:
        - name: kafka
          image: apache/kafka:3.6.0
          ports:
            - containerPort: 9092
              name: client
            - containerPort: 9093
              name: inter-broker
          env:
            # Używamy zmiennych środowiskowych do generowania pliku properties
            - name: KAFKA_NODE_ID
              value: "1"
            - name: KAFKA_PROCESS_ROLES
              value: "controller,broker"
            - name: KAFKA_CONTROLLER_QUORUM_VOTERS
              value: "1@kafka:9093"
            - name: KAFKA_LISTENERS
              value: "CLIENT://:9092,INTERNAL://:9093"
            - name: KAFKA_ADVERTISED_LISTENERS
              value: "CLIENT://kafka:9092,INTERNAL://kafka:9093"
            - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
              value: "CLIENT:PLAINTEXT,INTERNAL:PLAINTEXT"
            - name: KAFKA_CONTROLLER_LISTENER_NAMES
              value: "INTERNAL"
            - name: KAFKA_CLUSTER_ID
              value: "4mUj5vFk3tW7pY0iH2gR8qL6eD9oB1cZ"
            - name: KAFKA_AUTO_CREATE_TOPICS_ENABLE
              value: "true"
            # Dla obrazu Apache Kafka, możesz potrzebować ustawić ścieżkę do katalogu danych
            - name: KAFKA_LOG_DIRS
              value: "/kafka/data"
          volumeMounts:
            - name: kafka-data
              mountPath: /kafka/data
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1024Mi"
              cpu: "1000m"
  volumeClaimTemplates:
    - metadata:
        name: kafka-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 10Gi
