apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: survey-topic
  namespace: davtrowebdbvault
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 3
  replicas: 1
  config:
    retention.ms: 604800000
    segment.bytes: 1073741824
    cleanup.policy: delete
