apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: davtroallinone
data:
  loki-config.yaml: |
    auth_enabled: false
    server:
      http_listen_port: 3100
    storage_config:
      boltdb_shipper:
        active_index_directory: /loki/index
        cache_location: /loki/cache
      filesystem:
        directory: /loki/chunks
