apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: davtrowebdbvault
data:
  promtail.yaml: |
    server:
      http_listen_port: 9080
    clients:
      - url: http://loki:3100/loki/api/v1/push
