apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: davtrowebdbvault
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'fastapi'
        metrics_path: /metrics
        static_configs:
          - targets: ['website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgadm-chat:8000'] 
