apiVersion: v1
kind: Service
metadata:
  name: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgadm-chat
  namespace: davtrowebdbvault
  labels:
    app: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgadm-chat
    environment: development
spec:
  selector:
    app: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgadm-chat
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
  type: ClusterIP
