apiVersion: v1
kind: Service
metadata:
  name: webstack-gitops
  namespace: davtrowebdbvault
  labels:
    app: webstack-gitops
    environment: development
spec:
  selector:
    app: webstack-gitops
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
  type: ClusterIP
