apiVersion: apps/v1
kind: Deployment
metadata:
  name: tempo
  namespace: davtrowebdbvault
  labels:
    app: tempo # Dodano etykietę dla Kyverno
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tempo
  template:
    metadata:
      labels:
        app: tempo
        environment: development # Dodano etykietę dla Kyverno
    spec:
      containers:
      - name: tempo
        image: grafana/tempo:2.5.0
        args:
          - -config.file=/etc/tempo/tempo.yaml
        ports:
        - containerPort: 3200
        volumeMounts:
        - name: config
          mountPath: /etc/tempo
        - name: data
          mountPath: /var/tempo
      volumes:
      - name: config
        configMap:
          name: tempo-config
      - name: data
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: tempo
  namespace: davtrowebdbvault
spec:
  ports:
  - port: 3200
  selector:
    app: tempo
