apiVersion: apps/v1
kind: Deployment
metadata:
  name: tempo
  namespace: davtrowebdbvault
  labels:
    app: tempo
    environment: development
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tempo
  template:
    metadata:
      labels:
        app: tempo
        environment: development # KLUCZOWE DLA KYVERNO
    spec:
      containers:
      - name: tempo
        image: grafana/tempo:2.5.0
        args:
          - -config.file=/etc/tempo/tempo.yaml
        ports:
        - containerPort: 3200
        - containerPort: 4317 # OTLP gRPC
        - containerPort: 4318 # OTLP HTTP
        volumeMounts:
        - name: config
          mountPath: /etc/tempo
        - name: data
          mountPath: /var/tempo
      volumes:
      - name: config
        configMap:
          name: tempo-config
      - name: data
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: tempo
  namespace: davtrowebdbvault
  labels:
    app: tempo
    environment: development
spec:
  ports:
  - name: tempo-http
    port: 3200
    targetPort: 3200
  - name: otlp-grpc
    port: 4317 
    targetPort: 4317
  - name: otlp-http
    port: 4318 
    targetPort: 4318
  selector:
    app: tempo
