apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-config
  namespace: davtrowebdbvault
data:
  tempo-config.yaml: |
    server:
      http_listen_port: 3200
    storage:
      trace:
        backend: local
        local:
          path: /tmp/tempo/traces
