apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tempo
  namespace: davtrowebdbvault
spec:
  serviceName: tempo
  replicas: 1
  selector:
    matchLabels:
      app: tempo
  template:
    metadata:
      labels:
        app: tempo
    spec:
      containers:
      - name: tempo
        image: grafana/tempo:2.4.2
        ports:
        - containerPort: 3200
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "250m"
            memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: tempo
  namespace: davtrowebdbvault
spec:
  ports:
  - port: 3200
    targetPort: 3200
  selector:
    app: tempo
