apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-config
  namespace: davtrowebdbvault
data:
  vault.hcl: |
    storage "file" {
      path = "/vault/data"
    }
    listener "tcp" {
      address = "0.0.0.0:8200"
      tls_disable = "true"
    }
    ui = true
    disable_mlock = true
