apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: vault
  namespace: davtrowebdbvault
  labels:
    app: vault
    environment: development
spec:
  serviceName: vault
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
        environment: development
    spec:
      # ZMIANA 3: Skrócenie czasu oczekiwania na zakończenie pracy, aby uniknąć problemu z zajętym portem
      terminationGracePeriodSeconds: 5
      # Ustawienie securityContext na poziomie Pod
      securityContext:
        runAsUser: 0 # Uruchom jako root
        fsGroup: 100

      containers:
        - name: vault
          image: hashicorp/vault:1.15.3
          args: ["server", "-config=/vault/config/vault.hcl"]
          ports:
            - containerPort: 8200
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 200m
              memory: 512Mi
          # ZMIANA 2: Dodanie zmiennej API_ADDR
          env:
            - name: VAULT_API_ADDR
              value: http://vault-0.vault.davtrowebdbvault.svc.cluster.local:8200
          securityContext:
            capabilities:
              add:
                - IPC_LOCK
          volumeMounts:
            # ZMIANA 1: Montujemy cały katalog ConfigMap - eliminuje to problemy z uprawnieniami wewnętrznymi
            - name: vault-config
              mountPath: /vault/config
            - name: vault-data
              mountPath: /vault/data

      volumes:
        - name: vault-config
          configMap:
            name: vault-config

  volumeClaimTemplates:
    - metadata:
        name: vault-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 10Gi
---
apiVersion: v1
kind: Service
metadata:
  name: vault
  namespace: davtrowebdbvault
  labels:
    app: vault
    environment: development
spec:
  ports:
    - port: 8200
      targetPort: 8200
  selector:
    app: vault
  type: ClusterIP
