apiVersion: v1
kind: ServiceAccount
metadata:
  name: promtail-sa
  labels:
    app: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgui
    component: promtail
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: promtail
  labels:
    app: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgui
    component: promtail
spec:
  selector:
    matchLabels:
      app: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgui
      component: promtail
  template:
    metadata:
      labels:
        app: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgui
        component: promtail
    spec:
      serviceAccountName: promtail-sa
      tolerations:
      - key: "node-role.kubernetes.io/master"
        operator: "Exists"
        effect: "NoSchedule"
      hostPID: true
      containers:
      - name: promtail
        image: grafana/promtail:2.9.2
        args:
          - "-config.file=/etc/promtail/promtail.yaml"
        volumeMounts:
          - name: config
            mountPath: /etc/promtail
          - name: run
            mountPath: /run/docker/
          - name: logs
            mountPath: /var/log/
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
      volumes:
        - name: config
          configMap:
            name: promtail-config
        - name: run
          hostPath:
            path: /run/docker/
        - name: logs
          hostPath:
            path: /var/log/
