apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  labels:
    app: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgui
    component: promtail
data:
  promtail.yaml: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0
    positions:
      filename: /tmp/positions.yaml
    clients:
      - url: http://loki:3100/loki/api/v1/push
    scrape_configs:
    - job_name: kubernetes-pods
      kubernetes_sd_configs:
        - role: pod
      relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_component]
        regex: promtail
        action: drop
      - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_pod_name]
        regex: (.+);(.+)
        target_label: __path__
        replacement: /var/log/pods/$1/$2/*.log
