apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  labels:
    app: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgui
    component: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'fastapi-app'
        metrics_path: /metrics
        static_configs:
          - targets: ['fastapi-web-service:80']
